absl-py==0.9.0
aiohttp==3.6.2
alembic==1.4.2
alpha-vantage==2.2.0
anyascii==0.1.7
apache-airflow==1.10.11
apispec==1.3.3
appdirs==1.4.3
argcomplete==1.12.0
arviz==0.9.0
asciitable==0.8.0
astor==0.8.1
astroid==2.3.3
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
autograd==1.3
autograd-gamma==0.4.2
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.8.2
beautifultable==0.8.0
bebi103==0.0.54
bleach==3.1.0
blis==0.4.1
bokeh==2.1.1
boltons==20.0.0
bottle==0.12.18
Bottleneck==1.3.2
bs4==0.0.1
cached-property==1.5.1
cachetools==4.0.0
cassandra-driver==3.24.0
catalogue==1.0.0
cattrs==1.0.0
certifi==2019.11.28
cftime==1.2.1
chardet==3.0.4
chart-studio==1.1.0
Click==7.0
cloudpickle==1.5.0
cmake==3.17.3
cmdstanpy==0.4.0
codecov==2.1.8
colorama==0.4.3
colorcet==2.0.2
colorlog==4.0.2
colour==0.1.5
community==1.0.0b1
configparser==3.5.3
contextlib2==0.6.0.post1
convertdate==2.2.1
corner==2.1.0
coverage==5.2.1
cql==1.4.0
cqlsh==5.0.4
croniter==0.3.34
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.20
dask==2.22.0
datashader==0.11.0
datashape==0.5.2
debtcollector==2.0.0
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.2
distributed==2.22.0
dit==1.2.3
dnspython==2.0.0
docutils==0.16
ecos==2.0.7.post1
elephas==0.4.3
email-validator==1.1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
ephem==3.7.7.1
fake-useragent==0.1.11
fastai==1.0.61
fastprogress==0.2.4
filedepot==0.8.0
findspark==1.4.2
fire==0.3.1
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.13
Flask-WTF==0.14.3
flint==0.2
forex-python==1.5
fsspec==0.8.0
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
geojson==2.5.0
geomet==0.2.1.post1
google-auth==1.11.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphframes==0.6
graphviz==0.14.1
grpcio==1.27.2
gunicorn==19.10.0
gym==0.15.6
h5py==2.10.0
HeapDict==1.0.1
holidays==0.10.3
holoviews==1.13.3
html5lib==1.0.1
hyperas==0.4.1
hyperopt==0.2.3
idna==2.6
imageio==2.9.0
inflection==0.3.1
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipython-sql==0.4.0
ipywidgets==7.5.1
iso8601==0.1.12
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
jieba==0.42.1
Jinja2==2.10.3
joblib==0.14.1
joypy==0.2.2
json-merge-patch==0.2
json5==0.9.0
jsonschema==3.2.0
jupytalk==0.2.225
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==2.2.9
jupyterlab-server==1.1.5
jyquickhelper==0.3.128
kafka-python==2.0.1
Keras==2.4.3
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.27.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.46.0
keras-transformer==0.37.0
keras2onnx==1.7.0
kiwisolver==1.1.0
korean-lunar-calendar==0.2.1
lab==6.0
lazy-object-proxy==1.4.3
lifelines==0.25.1
llvmlite==0.31.0
locket==0.2.0
lockfile==0.12.2
LunarCalendar==0.0.9
lxml==4.6.1
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.17.2
mongoengine==0.20.0
more-itertools==8.2.0
mpld3==0.3
msgpack==1.0.0
multidict==4.7.6
multipledispatch==0.6.0
multiprocess==0.70.10
multitasking==0.0.9
murmurhash==1.0.2
names==0.3.0
natsort==7.0.1
nbconvert==5.6.1
nbformat==5.0.4
neo4j==4.1.0
neo4j-driver==4.1.0
neobolt==1.7.17
neotime==1.7.4
netCDF4==1.5.4
netron==4.3.5
networkx==2.2
nltk==3.4.5
nodejs==0.1.1
nose==1.3.7
notebook==6.0.3
npm==0.1.1
numba==0.48.0
numexpr==2.7.1
numpy==1.19.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
onnx==1.7.0
onnxconverter-common==1.7.0
onnxmltools==1.7.0
onnxruntime==1.3.0
opencv-contrib-python==4.4.0.44
opt-einsum==3.2.0
optional-django==0.1.0
packaging==20.3
pandas==1.0.1
pandasql==0.7.3
pandocfilters==1.4.2
panel==0.9.7
param==1.9.3
parse==1.15.0
parso==0.6.1
partd==1.1.0
pathlib2==2.3.5
patsy==0.5.1
pbr==5.4.4
pdf2image==1.14.0
pendulum==1.4.4
pep8==1.7.1
pickleshare==0.7.5
Pillow==6.2.1
pixiedust==1.1.18
plac==1.1.3
plotly==4.8.1
pluggy==0.13.1
preshed==3.0.2
prettytable==0.7.2
prison==0.1.3
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.11.3
psutil==5.7.2
psycopg2==2.8.4
py==1.8.1
py2neo==4.3.0
py4j==0.10.9
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyClick @ file:///C:/Users/Milton/Downloads/PyClick-master
pyct==0.4.6
pydlm==0.1.1.11
pydot==1.4.1
pyee==7.0.1
pyflakes==2.2.0
pyglet==1.4.10
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.4.4
PyMeeus==0.3.7
pymongo==3.10.1
pyodbc==4.0.30
pyparsing==2.4.6
pyppeteer==0.0.25
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
pyquery==1.4.1
pyquickhelper==1.9.3396
pyrsistent==0.15.7
PySocks==1.7.1
pyspark==3.0.0
pystan==2.19.1.1
pytesseract==0.3.6
pytest==5.4.3
pytest-cov==2.10.0
python-daemon==2.2.4
python-dateutil==2.8.1
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2019.3
pytzdata==2020.1
pyviz-comms==0.7.6
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
Quandl==3.5.0
quantumrandom==1.9.0
random-survival-forest==0.7.2
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
runipy==0.1.5
saxpy==1.0.1.dev167
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
scs==2.1.2
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
setproctitle==1.1.10
setuptools-git==1.2
setuptools-scm==4.1.2
simplejson==3.17.0
simpy==4.0.1
six==1.14.0
skl2onnx==1.7.0
sklearn==0.0
sktime==0.4.1
sortedcontainers==2.2.2
soupsieve==2.0
spacy==2.3.2
spark-tensorflow-distributor==0.0.3
sparkdl==0.2.2
sparkflow==0.7.0
sparktorch==0.1.2
SQLAlchemy==1.3.16
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
sqlparse==0.3.1
srsly==1.0.2
statsmodels==0.11.1
style==1.1.0
tableprint==0.8.0
tabulate==0.8.7
tblib==1.7.0
tenacity==4.12.0
tensorboard==2.1.1
tensorflow==2.2.0rc1
tensorflow-datasets==3.1.0
tensorflow-docs==0.0.0
tensorflow-estimator==2.2.0rc0
tensorflow-metadata==0.22.2
tensorflowonspark==2.2.1
tensorframes==0.2.9
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
thinc==7.4.1
threadpoolctl==2.1.0
thrift==0.13.0
tifffile==2020.7.24
toolz==0.10.0
torch==1.4.0
torchvision==0.5.0
tornado==6.0.3
tqdm==4.43.0
traitlets==4.3.3
ts-flint==0.6.0
tweepy==3.9.0
txt2tags==3.7
typing-extensions==3.7.4.1
tzlocal==1.5.1
unicodecsv==0.14.1
update==0.0.1
update-checker==0.18.0
urllib3==1.24.3
w3lib==1.21.0
wasabi==0.7.1
wcwidth==0.1.8
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.3.1
xarray==0.16.0
xlrd==1.2.0
yahoo-fin==0.8.4
yahoo-finance==1.4.0
yarl==1.4.2
yfinance==0.1.55
zict==2.0.0
zope.deprecation==4.4.0
